<ul class="navbar navbar-expand-md bg-dark navbar-dark">
  <li class="nav-item">
    <%= link_to "BACHELORS GUIDE", root_path, class: 'navbar-brand' %>
  </li>
  <li class="nav-item">
    <%= link_to blogs_path, class: "nav-link" do %>
      <i class="fas fa-blog"></i> BLOG <span class="sr-only">(current)</span>
    <% end %>
  </li>
</ul>
